@import '../../global.scss';

.portfolio {
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
  }

}

.portfolio-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 500px;


  .item {
    background-color: white;
    flex: 1 1 30%;
    border-radius: 16px;
    margin: 32px 16px;
    
    
    img {
      object-fit: contain;
      height: 215px;
      width: 100%;
      margin: auto;
      margin-bottom: 16px;
      max-height: 270px;
    }

    .item-text {
      padding-left: 8px;
      padding-right: 8px;

    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}