.contact {
  .contact-form {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 32px auto;
    padding: 32px;
  }

}