@import '../../global.scss';

.slider-wrapper {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider {
    background-color: blue;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider-container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .item {
        width: 700px;
        height: 250px;
        margin: 20px;
        background-color: white;
        border-radius: 32px;
      }
    }
  }
}