
// color scheme

// navbar
$navbar-height: 70px;

// colors
$font-color-primary: rgb(5, 5, 5);
$primary-color: #00225e;
$secondary-color: #00bcd4;
$background-color: #f6f6f6;

// typography
h1 {
  font-size: 40px;
}