
// color scheme

// navbar
$navbar-height: 70px;

// colors
$font-color-primary: rgb(5, 5, 5);
$primary-color: #00225e;
$secondary-color: #00bcd4;
$background-color: #f6f6f6;

// typography
* {
  Font-Family: 'Open Sans', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  Font-Family: 'Work Sans', Sans-Serif;

}

h1 {
  font-size: 60px;
}
