.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-images, .bottom-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      border-radius: 8px;
      object-fit: cover;

      img {
        width: 100%;
        height: 350px;
        margin-bottom: 16px;
      }
    }
  }

  .middle-row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .details {
      padding: 0 32px;

      p {
        text-align: justify;
      }

      ul {
        padding-left: 20px;
      }
      ul, li {
        overflow-x: initial;
      }

      li {
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
      }

      // left and right images
      img {
        border-radius: 8px;
        margin-bottom: 16px;

      }
    }
    

    .left-images, .right-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        border-radius: 8px;
        margin-bottom: 16px;


      }
    }
  }
}
